{% extends "base/base.html" %}

{% block container %}

<div class="container">
    <div class="col-md-12 col-sm-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                    <span class="svg-icon svg-icon-success svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"/>
                            <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                            <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                        </g>
                        </svg><!--end::Svg Icon--></span>
                    </span>
                    <h3 class="card-label"> {{singular_name}}  Cadastrados</h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="../../../../../{{controller|lower}}/novo" class="mr-2 btn btn-success font-weight-bolder">
                    <i class="la la-plus"></i>Adicionar Locatário</a>
                    <!--end::Button-->
 
                </div>
            </div>

            <div class="card-body">
                <div class="form">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Busca Rapida:</label>
                            <input type="text" id="busca_rapida" name="busca_rapida" class="serch_input form-control form-control-solid form-control-md" placeholder="Digite aqui ..." />
                        </div>   
                        <div class="col-md-2">
                            <label>Nome:</label>
                            <input type="text" id="nome"  class="serch_input form-control form-control-solid form-control-md" placeholder="Locatário da silva" />
                        </div>
                        <div class="col-md-2">
                            <label>CPF:</label>
                            <input type="text" id="cpf" class="serch_input form-control form-control-solid form-control-md" placeholder="000.000.000.00"/>
                        </div>                      
                        <div class="col-md-2 d-flex">                                    
                            <button id="search_dt" onclick="searchQueryDt()" class="form-control btn btn-success mt-auto"><i class="flaticon2-search-1"></i></button>
                        </div> 
                    </div>                  
                </div>
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF:</th>
                            <th>Telefone:</th>        
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
        <!--end::Card-->
    </div>
</div>
{% endblock %}
{% block link_stylesheet %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
{% endblock %}
{% block extra_js_config %}
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <!--end::Page Vendors-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
    <!--end::Page Scripts-->
    <script src="assets/js/pages/custom/{{controller|lower}}/main.js"></script>
    <script src="assets/js/pages/custom/{{controller|lower}}/list.js"></script>
{% endblock %}
